.card_operaciones {
    position: relative;
}
.card_operaciones:before {
    content: "";
    background-color: white;
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
    bottom: 0;
    width: 0;
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -ms-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
    z-index: 1;
}
.card_operaciones:hover:before {
    width: 100%;
}
.card_operaciones:hover svg circle {
    fill: black;
}
.card_operaciones:hover svg path {
    fill: white;
}


